body {
<<<<<<< HEAD
	background-color: #000000;
=======
	background-color: black;
>>>>>>> 63fe21e96347f827d5147e5a711b54c95d0f57da
	height: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
<<<<<<< HEAD
	font-family: Arial, sans-serif;
=======
	font-family: Arial;
>>>>>>> 63fe21e96347f827d5147e5a711b54c95d0f57da
}

div	{
	margin: 0;
	padding: 0;
}

h1 {
<<<<<<< HEAD
	color: #ffffff;
=======
	color: white;
>>>>>>> 63fe21e96347f827d5147e5a711b54c95d0f57da
	font-size: 25px;
	font-weight: normal;
	text-align: center;
}

<<<<<<< HEAD
input {
	width: calc(50% - 100px);
}

label {
	display: inline-block;
	width: 64px;
	color: #ffffff;
=======
label {
	display: inline-block;
	width: 64px;
	color: white;
>>>>>>> 63fe21e96347f827d5147e5a711b54c95d0f57da
	font-size: 20px;
}

main {
	background-image: radial-gradient(orange, black);
}

p {
	margin: 0;
	padding: 0;
}

#d4Form {
	margin-top: 0px;
}

#diceBlock {
	text-align: center;
	background-color: rgba(0, 0, 0, 0.7);
<<<<<<< HEAD
	max-width: 600px;
	width: 100%;
=======
	width: 600px;
	padding: 30px;
>>>>>>> 63fe21e96347f827d5147e5a711b54c95d0f57da
	padding-top: 10px;
	display: inline-block;
}

#diceImageBlock {
<<<<<<< HEAD
	max-width: 500px;
	width: 100%;
	padding: 0;
	margin: 0;
	display: inline-block;
=======
	width: 500px;
	padding: 0;
	margin: 0;
	margin-top: 15px;
	margin-left: 50px;
>>>>>>> 63fe21e96347f827d5147e5a711b54c95d0f57da
	text-align: center;
}

#leftLabel {
	float: left;
}

#resultsWindow {
<<<<<<< HEAD
	max-width: 480px;
	width: 100%;
	display: inline-block;
	height: 150px;
	background-color: rgba(255, 255, 255, 0.7);
	text-align: left;
=======
	width: 480px;
	height: 150px;
	background-color: rgba(255, 255, 255, 0.7);
	text-align: left;
	margin-left: 60px;
>>>>>>> 63fe21e96347f827d5147e5a711b54c95d0f57da
	padding: 4px;
	color: black;
	font-size: 12px;
	overflow: scroll;
}

#rightLabel {
	float: right;
	margin-right: 90px;
}

#labelBlock {
	display: inline-block;
<<<<<<< HEAD
	max-width: 410px;
	width: 100%;
}

.diceImage{
	width: 13%;
=======
	width: 410px;
}

.diceImage{
	width: 65px;
>>>>>>> 63fe21e96347f827d5147e5a711b54c95d0f57da
	display: inline-block;
	padding: 0;
	margin: 0;
}

.diceLabel{
<<<<<<< HEAD
	color: #ffffff;
=======
	color: white;
>>>>>>> 63fe21e96347f827d5147e5a711b54c95d0f57da
	font-size: 22px;
}

.forms {
	margin: 10px;
	padding: 5px;
}

.result {
<<<<<<< HEAD
	color: #ffffff;
	font-size: 20px;
	vertical-align: center;
}

@media (max-width: 650px){

=======
	color: white;
	font-size: 20px;
	vertical-align: center;
>>>>>>> 63fe21e96347f827d5147e5a711b54c95d0f57da
}